<html>
<head>
<link rel="icon" href="/static/DND3.5E.jpg">    
<link rel="icon" href="/static/DND3.5E.jpg">    
<style type="text/css">
     #logo {display: block;
    margin: auto;
    width: auto;}
    #logo_container {width: 20%; margin: auto;}
body { background-image: url("/static/background1.jpg"); background-position: center top; background-size:cover; background-color: black; }
div.main { padding-left: 205px; padding-right: 205px;}
td { vertical-align: top; }
h1 { background-color: clear; text-align: center; font-size: 50pt; color: white; }
</style>
</head>
<body>
    <table id="container" align="center">
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><a href="http://localhost:8000/"><img id="logo" src="/static/DND3.5E.jpg" height="196" width="249"/></a></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>    
        <tr>
            <td>&nbsp;</td>
            <td><a href="/class/"><img src="/static/fighter.png" style="border: none"  height="400" width="212"/></td>
            <td>&nbsp;</td>
            <td><a href="/race/"><img src="/static/rogue.jpg" style="border: none"  height="400" width="212"/></td>
            <td>&nbsp;</td>

        </tr>
        <tr>
            <td>&nbsp;</td>
            <td width="20%"><h1>Class</h1></td>
            <td>&nbsp;</td>
            <td width="20%"><h1>Race</h1></td>
            <td>&nbsp;</td>

    </table>
<div class="main">
{% block content %}
{% endblock %}
</div>
</body>
</html>