
{% extends "base.html" %}
{% block races %} 
    <tr>
    {% for Race in races %}
    <td style="text-align: center; padding-top: 25px;">
        <img src="../../static/{{ Race.picture }}" style="border: none;" height="200" width="106"/><br />
        <span style="font-size: 16pt;color:whitesmoke;">{{ Race.Name }}</span>
    </td>
        {% if forloop.last %}
            </tr>
        {% else %}
        {% if forloop.counter|divisibleby:"4" %}
            <tr></tr>
        {% endif %}
        {% endif %}
    {% endfor %} 
{% endblock %}